<a href="https://colab.research.google.com/github/sreenandinisreenivasan3-sree/ML-project/blob/main/Day_2_WORKSHEET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
df=sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
df.size

13365

In [ ]:
df.shape

(891, 15)

In [ ]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [ ]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df_clean=df.dropna()
df_clean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False
872,0,1,male,33.0,0,0,5.0000,S,First,man,True,B,Southampton,no,True
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True

In [ ]:
df_fill=df.fillna

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df_clean=df.drop(columns=['deck'])
df_clean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,Queenstown,no,True

In [ ]:
df.dropna(subset=['embarked','embark_town'],inplace=True)
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         0
class            0
who              0
adult_male       0
deck           688
embark_town      0
alive            0
alone            0
dtype: int64

In [ ]:
age_mean=df['age'].mean()
df['age']=df['age'].fillna(age_mean)  #fill missing numerical values with mean

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
#Activity 2

In [ ]:
#create  family size,age group,fare per person column

In [ ]:
df['family_size']=df['sibsp']+df['parch']

In [ ]:
df['age_group']=np.where(df['age']>18,"adult","child")

In [ ]:
df['fare_per_person']=df['fare']/(df['family_size']+1)

In [ ]:
#rename &delete

In [ ]:
df.rename(columns={'pclass':'Passenger Class'},inplace =True)
df

,survived,Passenger Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,family_size,fare_per_person
0,0,3,male,22.000000,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,adult,1,3.62500
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult,1,35.64165
2,1,3,female,26.000000,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult,0,7.92500
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult,1,26.55000
4,0,3,male,35.000000,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult,0,8.05000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,adult,0,13.00000
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,adult,0,30.00000
888,0,3,female,29.642093,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,adult,3,5.86250
889,1,1,male,26.000000,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult,0,30.00000
890,0,3,male,32.000000,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult,0,7.75000

In [ ]:
df[df['age']>df['age'].mean()]

,survived,Passenger Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult,1,35.641650
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult,1,26.550000
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,adult,0,8.050000
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True,adult,0,51.862500
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,adult,0,26.550000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,0,3,male,47.0,0,0,9.0000,S,Third,man,True,NaN,Southampton,no,True,adult,0,9.000000
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,adult,1,41.579150
881,0,3,male,33.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True,adult,0,7.895800
885,0,3,female,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,adult,5,4.854167
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,adult,0,7.750000

In [ ]:
df[(df['sex']=='female')&(df['Passenger Class']==1)]    3 female passengers in first class

,survived,Passenger Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.000000,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult,1,35.641650
3,1,1,female,35.000000,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult,1,26.550000
11,1,1,female,58.000000,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,adult,0,26.550000
31,1,1,female,29.642093,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False,adult,1,73.260400
52,1,1,female,49.000000,1,0,76.7292,C,First,woman,False,D,Cherbourg,yes,False,adult,1,38.364600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,1,1,female,45.000000,1,1,164.8667,S,First,woman,False,NaN,Southampton,yes,False,adult,2,54.955567
862,1,1,female,48.000000,0,0,25.9292,S,First,woman,False,D,Southampton,yes,True,adult,0,25.929200
871,1,1,female,47.000000,1,1,52.5542,S,First,woman,False,D,Southampton,yes,False,adult,2,17.518067
879,1,1,female,56.000000,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,adult,1,41.579150
887,1,1,female,19.000000,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,adult,0,30.000000

In [ ]:
df[df['survived']==1]

,survived,Passenger Class,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_group,family_size,fare_per_person
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,adult,1,35.64165
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,adult,0,7.92500
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,adult,1,26.55000
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,adult,2,3.71110
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False,child,1,15.03540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,1,3,female,15.0,0,0,7.2250,C,Third,child,False,NaN,Cherbourg,yes,True,child,0,7.22500
879,1,1,female,56.0,0,1,83.1583,C,First,woman,False,C,Cherbourg,yes,False,adult,1,41.57915
880,1,2,female,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False,adult,1,13.00000
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,adult,0,30.00000
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,adult,0,30.00000

In [ ]:
df.groupby('sex')['survived'].mean()   # survival rate by gender

sex
female    0.740385
male      0.188908
Name: survived, dtype: float64

In [ ]:
df.groupby('class')['fare'].mean()   # avg fare by class

/tmp/ipython-input-2533295788.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('class')['fare'].mean()   # avg fare by class

class
First     84.193516
Second    20.662183
Third     13.675550
Name: fare, dtype: float64

In [ ]:
df.corr(numeric_only=True)

,survived,Passenger Class,age,sibsp,parch,fare,adult_male,alone,family_size,fare_per_person
survived,1.000000,-0.335549,-0.074513,-0.034040,0.083151,0.255290,-0.555520,-0.206207,0.018277,0.217902
Passenger Class,-0.335549,1.000000,-0.328256,0.081656,0.016824,-0.548193,0.090098,0.138553,0.064221,-0.482024
age,-0.074513,-0.328256,1.000000,-0.231908,-0.178013,0.088780,0.258793,0.177445,-0.247459,0.136787
sibsp,-0.034040,0.081656,-0.231908,1.000000,0.414542,0.160887,-0.255401,-0.584186,0.890654,-0.093211
parch,0.083151,0.016824,-0.178013,0.414542,1.000000,0.217532,-0.351945,-0.583112,0.782988,-0.067422
fare,0.255290,-0.548193,0.088780,0.160887,0.217532,1.000000,-0.179851,-0.274079,0.218658,0.840902
adult_male,-0.555520,0.090098,0.258793,-0.255401,-0.351945,-0.179851,1.000000,0.407992,-0.350419,-0.078503
alone,-0.206207,0.138553,0.177445,-0.584186,-0.583112,-0.274079,0.407992,1.000000,-0.690654,0.042706
family_size,0.018277,0.064221,-0.247459,0.890654,0.782988,0.218658,-0.350419,-0.690654,1.000000,-0.097399
fare_per_person,0.217902,-0.482024,0.136787,-0.093211,-0.067422,0.840902,-0.078503,0.042706,-0.097399,1.000000

In [ ]:
# activity

In [ ]:
df=sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
cat_cols=df.select_dtypes(include=['category']).columns
cat_cols

Index(['sex', 'smoker', 'day', 'time'], dtype='object')

In [ ]:
df.size

1708

In [ ]:
df.shape

(244, 7)

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
df['total_bill'].mean()    #avg total bill

np.float64(19.78594262295082)

In [ ]:
df['tip'].mean()    #mean tip

np.float64(2.99827868852459)

In [ ]:
df['tip'].median()   # median tip

2.9

In [ ]:
df.isnull().sum()   #checking null values

total_bill        0
tip               0
sex               0
smoker            0
day               0
time              0
size              0
High_spender      0
Tip percentage    0
dtype: int64

In [ ]:
df['High_spender']=np.where(df['total_bill']>df['total_bill'].mean(),"1","0")  #column High spender

In [ ]:
df

     total_bill   tip     sex smoker   day    time  size High_spender
0         16.99  1.01  Female     No   Sun  Dinner     2            0
1         10.34  1.66    Male     No   Sun  Dinner     3            0
2         21.01  3.50    Male     No   Sun  Dinner     3            1
3         23.68  3.31    Male     No   Sun  Dinner     2            1
4         24.59  3.61  Female     No   Sun  Dinner     4            1
..          ...   ...     ...    ...   ...     ...   ...          ...
239       29.03  5.92    Male     No   Sat  Dinner     3            1
240       27.18  2.00  Female    Yes   Sat  Dinner     2            1
241       22.67  2.00    Male    Yes   Sat  Dinner     2            1
242       17.82  1.75    Male     No   Sat  Dinner     2            0
243       18.78  3.00  Female     No  Thur  Dinner     2            0

[244 rows x 8 columns]

In [ ]:
df['Tip percentage']=(df['tip']/df['total_bill'])*100    #new column Tip percentage

In [ ]:
df

,total_bill,tip,sex,smoker,day,time,size,High_spender,Tip percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,0,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,0,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,1,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,1,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,1,14.680765
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,1,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,1,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,1,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,0,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,0,15.974441

In [ ]:
df.groupby('sex')['tip'].mean()    #avg tip by gender

/tmp/ipython-input-3407121299.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['tip'].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

In [ ]:
df.groupby('day')['total_bill'].mean()   # avg total bill by day

/tmp/ipython-input-1881343769.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day')['total_bill'].mean()

day
Thur    17.682742
Fri     17.151579
Sat     20.441379
Sun     21.410000
Name: total_bill, dtype: float64

In [ ]:
df[df['total_bill']>30]    #customers who paid more than 30

,total_bill,tip,sex,smoker,day,time,size,High_spender,Tip percentage
11,35.26,5.00,Female,No,Sun,Dinner,4,1,14.180374
23,39.42,7.58,Male,No,Sat,Dinner,4,1,19.228818
39,31.27,5.00,Male,No,Sat,Dinner,3,1,15.989767
44,30.40,5.60,Male,No,Sun,Dinner,4,1,18.421053
47,32.40,6.00,Male,No,Sun,Dinner,4,1,18.518519
52,34.81,5.20,Female,No,Sun,Dinner,4,1,14.938236
56,38.01,3.00,Male,Yes,Sat,Dinner,4,1,7.892660
59,48.27,6.73,Male,No,Sat,Dinner,4,1,13.942407
83,32.68,5.00,Male,Yes,Thur,Lunch,2,1,15.299878
85,34.83,5.17,Female,No,Thur,Lunch,4,1,14.843526
95,40.17,4.73,Male,Yes,Fri,Dinner,4,1,11.774956
102,44.30,2.50,Female,Yes,Sat,Dinner,3,1,5.643341
112,38.07,4.00,Male,No,Sun,Dinner,3,1,10.506961
141,34.30,6.70,Male,No,Thur,Lunch,6,1,19.533528
142,41.19,5.00,Male,No,Thur,Lunch,5,1,12.138869
156,48.17,5.00,Male,No,Sun,Dinner,6,1,10.379905
167,31.71,4.50,Male,No,Sun,Dinner,4,1,14.191107
170,50.81,10.00,Male,Yes,Sat,Dinner,3,1,19.681165
173,31.85,3.18,Male,Yes,Sun,Dinner,2,1,9.984301
175,32.90,3.11,Male,Yes,Sun,Dinner,2,1,9.452888
179,34.63,3.55,Male,Yes,Sun,Dinner,2,1,10.251227
180,34.65,3.68,Male,Yes,Sun,Dinner,4,1,10.620491
182,45.35,3.50,Male,Yes,Sun,Dinner,3,1,7.717751
184,40.55,3.00,Male,Yes,Sun,Dinner,2,1,7.398274
187,30.46,2.00,Male,Yes,Sun,Dinner,5,1,6.565988
197,43.11,5.00,Female,Yes,Thur,Lunch,4,1,11.598237
207,38.73,3.00,Male,Yes,Sat,Dinner,4,1,7.745933
210,30.06,2.00,Male,Yes,Sat,Dinner,3,1,6.653360
212,48.33,9.00,Male,No,Sat,Dinner,4,1,18.621974
219,30.14,3.09,Female,Yes,Sat,Dinner,4,1,10.252157
237,32.83,1.17,Male,Yes,Sat,Dinner,2,1,3.563814
238,35.83,4.67,Female,No,Sat,Dinner,3,1,13.033771

In [ ]:
df[df['Tip percentage']>20]   #Tip percentage >20%

,total_bill,tip,sex,smoker,day,time,size,High_spender,Tip percentage
6,8.77,2.00,Male,No,Sun,Dinner,2,0,22.805017
9,14.78,3.23,Male,No,Sun,Dinner,2,0,21.853857
14,14.83,3.02,Female,No,Sun,Dinner,2,0,20.364127
17,16.29,3.71,Male,No,Sun,Dinner,3,0,22.774708
18,16.97,3.50,Female,No,Sun,Dinner,3,0,20.624632
20,17.92,4.08,Male,No,Sat,Dinner,2,0,22.767857
42,13.94,3.06,Male,No,Sun,Dinner,2,0,21.951220
46,22.23,5.00,Male,No,Sun,Dinner,2,1,22.492128
51,10.29,2.60,Female,No,Sun,Dinner,2,0,25.267250
63,18.29,3.76,Male,Yes,Sat,Dinner,4,0,20.557682
67,3.07,1.00,Female,Yes,Sat,Dinner,1,0,32.573290
81,16.66,3.40,Male,No,Thur,Lunch,2,0,20.408163
87,18.28,4.00,Male,No,Thur,Lunch,2,0,21.881838
88,24.71,5.85,Male,No,Thur,Lunch,2,1,23.674626
93,16.32,4.30,Female,Yes,Fri,Dinner,2,0,26.348039
100,11.35,2.50,Female,Yes,Fri,Dinner,2,0,22.026432
108,18.24,3.76,Male,No,Sat,Dinner,2,0,20.614035
109,14.31,4.00,Female,Yes,Sat,Dinner,2,0,27.952481
110,14.00,3.00,Male,No,Sat,Dinner,2,0,21.428571
115,17.31,3.50,Female,No,Sun,Dinner,2,0,20.219526
124,12.48,2.52,Female,No,Thur,Lunch,2,0,20.192308
139,13.16,2.75,Female,No,Thur,Lunch,2,0,20.896657
140,17.47,3.50,Female,No,Thur,Lunch,2,0,20.034345
149,7.51,2.00,Male,No,Thur,Lunch,2,0,26.631158
172,7.25,5.15,Male,Yes,Sun,Dinner,2,0,71.034483
174,16.82,4.00,Male,Yes,Sun,Dinner,2,0,23.781213
178,9.60,4.00,Female,Yes,Sun,Dinner,2,0,41.666667
181,23.33,5.65,Male,Yes,Sun,Dinner,2,1,24.217745
183,23.17,6.50,Male,Yes,Sun,Dinner,4,1,28.053517
185,20.69,5.00,Male,No,Sun,Dinner,5,1,24.166264
191,19.81,4.19,Female,Yes,Thur,Lunch,2,1,21.150934
194,16.58,4.00,Male,Yes,Thur,Lunch,2,0,24.125452
200,18.71,4.00,Male,Yes,Thur,Lunch,3,0,21.378942
214,28.17,6.50,Female,Yes,Sat,Dinner,3,1,23.074192
221,13.42,3.48,Female,Yes,Fri,Lunch,2,0,25.931446
222,8.58,1.92,Male,Yes,Fri,Lunch,1,0,22.377622
228,13.28,2.72,Male,No,Sat,Dinner,2,0,20.481928
232,11.61,3.39,Male,No,Sat,Dinner,2,0,29.198966
239,29.03,5.92,Male,No,Sat,Dinner,3,1,20.392697

In [ ]:
df.corr(numeric_only=True)           #correlation

                total_bill       tip      size  Tip percentage
total_bill        1.000000  0.675734  0.598315       -0.338624
tip               0.675734  1.000000  0.489299        0.342370
size              0.598315  0.489299  1.000000       -0.142860
Tip percentage   -0.338624  0.342370 -0.142860        1.000000

In [ ]:
df.groupby('smoker')['Tip percentage'].mean()         #tip percentage by smoker

/tmp/ipython-input-3992030466.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('smoker')['Tip percentage'].mean()

smoker
Yes    16.319604
No     15.932846
Name: Tip percentage, dtype: float64

In [ ]:
df.dtypes

total_bill         float64
tip                float64
sex               category
smoker            category
day               category
time              category
size                 int64
High_spender        object
Tip percentage     float64
dtype: object

In [ ]:
a=np.arange(1,17).reshape(4,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16]])

In [ ]:
arr=np.array([1,2,3,4,5,6])
arr

array([1, 2, 3, 4, 5, 6])

In [ ]:
arr[arr%2==0]=-1
arr

array([ 1, -1,  3, -1,  5, -1])

In [ ]:
arr[arr%3==0]=9

In [ ]:
arr

array([ 1, -1,  9, -1,  5, -1])

In [ ]:
arr1=np.array([10,20,30,40,50])

In [ ]:
normalized=(arr1-np.mean(arr1))/np.std(arr1)
normalized

array([-1.41421356, -0.70710678,  0.        ,  0.70710678,  1.41421356])

In [ ]:
matrix=np.arange(1,10).reshape(3,3)
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
matrix[2]

array([7, 8, 9])

In [ ]:
matrix[0,1]

np.int64(2)

In [ ]:
matrix[1,1]

np.int64(5)

In [ ]:
matrix[2,0]

np.int64(7)

In [ ]:
matrix[1:,:2]

array([[4, 5],
       [7, 8]])

In [ ]:
matrix[:2,1:]

array([[2, 3],
       [5, 6]])

In [2]:
#penguins dataset

In [69]:
df1=sns.load_dataset("penguins")
df1.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [70]:
df1.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [71]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [72]:
df1.size

2408

In [73]:
df1.shape

(344, 7)

In [74]:
df1.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [75]:
df1.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [77]:
df1.isnull().sum()        #checking the missing values
print(df1.isnull().sum())

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [78]:
len_mean=df1['bill_length_mm'].mean()
len_mean

np.float64(43.9219298245614)

In [79]:

df1['bill_length_mm']=df1['bill_length_mm'].fillna(len_mean)  #fill missing numerical values with mean
df1['bill_length_mm']

0      39.10000
1      39.50000
2      40.30000
3      43.92193
4      36.70000
         ...
339    43.92193
340    46.80000
341    50.40000
342    45.20000
343    49.90000
Name: bill_length_mm, Length: 344, dtype: float64

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [81]:
dep_mean=df1['bill_depth_mm'].mean()
dep_mean

np.float64(17.151169590643278)

In [99]:
df1[df1['body_mass_g']>df1['body_mass_g'].mean()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
39,Adelie,Dream,39.8,19.1,184.0,4650.0,Male
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [97]:
df1[df1['bill_length_mm']>43]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,43.92193,17.15117,200.915205,NaN,NaN
19,Adelie,Torgersen,46.00000,21.50000,194.000000,4200.0,Male
43,Adelie,Dream,44.10000,19.70000,196.000000,4400.0,Male
73,Adelie,Torgersen,45.80000,18.90000,197.000000,4150.0,Male
99,Adelie,Dream,43.20000,18.50000,192.000000,4100.0,Male
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,43.92193,17.15117,200.915205,NaN,NaN
340,Gentoo,Biscoe,46.80000,14.30000,215.000000,4850.0,Female
341,Gentoo,Biscoe,50.40000,15.70000,222.000000,5750.0,Male
342,Gentoo,Biscoe,45.20000,14.80000,212.000000,5200.0,Female
343,Gentoo,Biscoe,49.90000,16.10000,213.000000,5400.0,Male

In [82]:
df1['bill_depth_mm']=df1['bill_depth_mm'].fillna(dep_mean)
df1['bill_depth_mm']

0      18.70000
1      17.40000
2      18.00000
3      17.15117
4      19.30000
         ...
339    17.15117
340    14.30000
341    15.70000
342    14.80000
343    16.10000
Name: bill_depth_mm, Length: 344, dtype: float64

In [83]:
flip_mean=df1['flipper_length_mm'].mean()
flip_mean

np.float64(200.91520467836258)

In [84]:
df1['flipper_length_mm']=df1['flipper_length_mm'].fillna(flip_mean)
df1['flipper_length_mm']

0      181.000000
1      186.000000
2      195.000000
3      200.915205
4      193.000000
          ...
339    200.915205
340    215.000000
341    222.000000
342    212.000000
343    213.000000
Name: flipper_length_mm, Length: 344, dtype: float64

In [85]:
body_mean=df1['body_mass_g'].mean()
body_mean

np.float64(4201.754385964912)

In [30]:
df['body_mass_g']=df['body_mass_g'].fillna(body_mean)

In [86]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [87]:
df1.groupby('species')['bill_length_mm'].mean()                                            # average bill length by species

species
Adelie       38.825144
Chinstrap    48.833824
Gentoo       47.475983
Name: bill_length_mm, dtype: float64

In [88]:
df1['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [103]:
ratio= (df1['bill_length_mm'] / df1['bill_depth_mm'])
ratio

0      2.090909
1      2.270115
2      2.238889
3      2.560871
4      1.901554
         ...
339    2.560871
340    3.272727
341    3.210191
342    3.054054
343    3.099379
Length: 344, dtype: float64

In [104]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [107]:
df1['bill_length_mm'].median()

44.25